PORT=5000
MONGO_URI=mongodb+srv://nehahhdf49_db_user:l9QGzqMujqbVUmwu@cluster0.pgmptda.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_secret
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=Admin123
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
FRONTEND_URL=http://localhost:5173
